@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 100% 96%;
    --foreground: 224 71% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 10%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 20% 80%;
    --secondary-foreground: 224 71% 10%;
    --muted: 216 18% 90%;
    --muted-foreground: 224 71% 25%;
    --accent: 261 44% 80%;
    --accent-foreground: 260 50% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 91% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 10%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206 100% 96%;
    --sidebar-accent-foreground: 217 91% 60%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --indigo: 318 75% 16%;
    --indigo-foreground: 0 0% 100%;
  }
  .dark {
    --background: 224 71% 10%;
    --foreground: 210 40% 98%;
    --card: 224 71% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 32% 32%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32% 22%;
    --muted-foreground: 215 20% 65%;
    --accent: 261 44% 80%;
    --accent-foreground: 260 50% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 32% 22%;
    --input: 217 32% 22%;
    --ring: 261 44% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 71% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 32% 22%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --indigo: 318 75% 16%;
    --indigo-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
